<p>
  <strong>Name:</strong>
  <%= @howto_list.name %>
</p>

  <img src="<%= @howto_list.image_url %>">

<p>
  <strong>Author:</strong>
  <%= @howto_list.author %>
</p>

<p>
  <strong>Materials Needed:</strong>
  <%= @howto_list.materials %>
</p>

  <% @howto_list.steps.each do |step| %>
    <ul>
      <li><%= step.description %></li>
    </ul>
  <% end %>

<%= link_to 'Edit steps', howto_list_steps_path(@howto_list) %>

<%= link_to 'Edit List Attributes', edit_howto_list_path(@howto_list) %> |
<%= link_to 'Back', howto_lists_path %>
